[submodule "Spark.NET.API"]
	path = Spark.NET.API
	url = https://github.com/SparkMyProject/Spark.NET.API
[submodule "Spark.NET.Shared"]
	path = Spark.NET.Shared
	url = https://github.com/SparkMyProject/Spark.NET.Shared
