./idea/workspace.xml
./idea/discord.xml
Spark.NET.AI/obj/

.idea/.idea.Spark.NET/.idea/discord.xml

.idea/.idea.Spark.NET/.idea/workspace.xml

.idea/.idea.Spark.NET/.idea/git_toolbox_prj.xml

.idea/config/applicationhost.config
